.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  min-height: 72px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0.6;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #FF9B00;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
.fa-user-times {
  color: red
}

.messages {
  display: flex;
  flex-direction: column;
}

.message-composer {
  position: fixed;
  bottom: 70px;
  right: 13px;
  width: 350px;
}
.message-container {
  background-color: #f3ab5a;
  border-radius: 50px;
  padding: 10px;
  margin: 10px 0;
  width: 80vw;
  color: white;
}
.user-message {
  background-color: #808bda;
  position: relative;
  left: 15vw;
}


