.center-form {
  text-align: center;
}

.submit-form-button {
  border:2px solid #45728B;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
}

.form-control {
  border-radius: 10px;
  border-top: 1px solid #45728B;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #45728B;
}

.form-control:focus {
  outline: none;
  border-color: #b7e6ff;
}
