.center-form {
  text-align: center;
  max-width: 375px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  border-top: 15vh;
  color: white;
}

.submit-form-button {
  border:2px solid;
  cursor:pointer;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  margin-bottom: 10px;
}

.submit-form-button .btn {
  color: white;
  border-color: white;
}

.form-control {
  border-radius: 10px;
  border-top: 1px solid #45728B;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #45728B;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-control:focus {
  outline: none;
  border-color: #b7e6ff;
}
