
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Type to search"
  %>
<% end %>

<div class="container">
    <div class="row users-container">
      <!-- <div id="friends"> -->
          <% if params[:query].present? %>
            <% sql_query = "first_name ILIKE :query OR last_name ILIKE :query" %>
            <% @users = User.where(sql_query, query: "%#{params[:query]}%") %>
            <%= render @users %>
          <% else %>
            <% @users = User.all %>
            <%= render @users %>
          <% end %>


  </div>
</div>
