<div class="footer-container">
  <div class="mobile-bottom-bar">
    <a href="#" class="footer-link">
      <i class="fas fa-user" style="color: white"></i> <span class='footer-text' style="color: white">PROFILE</span>
    </a>
    <a href="#" class="footer-link">
      <i class="fas fa-users" style="color: white"></i> <span class='footer-text' style="color: white">FRIENDS</span>
    </a>
    <a href="#" class="footer-link">
      <i class="fas fa-star" style="color: white"></i> <span class='footer-text' style="color: white">PLACES</span>
    </a>
    <a href="#" class="footer-link">
      <i class="fas fa-comment" style="color: white"></i> <span class='footer-text' style="color: white">INBOX</span>
    </a>
  </div>
</div>
