<div class="footer-container">
  <div class="mobile-bottom-bar">

    <a href="#" class="footer-link">
     <%= link_to page_path(current_user) do %>
      <i class="fas fa-user" style="color: white"></i> <span class='footer-text' style="color: white"></span>
      <% end %>
    </a>

    <a href="#" class="footer-link">
      <%= link_to users_path do %>
      <i class="fas fa-users" style="color: white"></i> <span class='footer-text' style="color: white"></span>
      <% end %>
    </a>

    <a href="#" class="footer-link">
      <%= link_to places_path do %>
      <i class="fas fa-star" style="color: white"></i> <span class='footer-text' style="color: white"></span>
      <% end %>
    </a>

    <a href="#" class="footer-link">
      <i class="fas fa-comment" style="color: white"></i> <span class='footer-text' style="color: white"></span>
    </a>
  </div>
</div>
