<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "landing-photo1.jpg" %>);'>
  <div class="container">
    <h1><strong>Hey Friendzy</strong><h1>
    <p>keep in Touch With Your Friends.</p>
  </div>
<div>
   <%= link_to "Click", places_path, :class => "btn btn-friendzy text-center btn-padding-interest text-white"  %>
 </div>
</div>

