
<div header-home>
  <a><%= image_tag('home-banner.jpg', size: '375x700', alt: 'Keep in touch') %></a>
</div>

<div container-home>

  <%= link_to places_path do %>
  <div class="card-home">
    <h1><i class="fas fa-star fa-3x" style="color: #45718b"></i></h1>
    <p><span class='footer-text' style="color: #45718b">Places</span></p>
  </div>
  <% end %>

<%= link_to users_path do %>
  <div class="card-home">
    <h1><i class="fas fa-users fa-3x" style="color: #45718b"></i></h1>
    <p><span class='footer-text' style="color: #45718b">Friends</span></p>
  </div>
  <% end %>
</div>
