
//  orange button:
.btn-friendzy {
  background-color: #FF9B00;
  color: white;
  font-style: bold;
  padding: 0;
  margin-right: 13px;
  margin-left: 5px;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  margin: 0 auto;
}

.btn-friendzy-search {
  background-color: #FF9B00;
  color: white;
  font-style: bold;
  padding: 0;
  margin-right: 13px;
  margin-left: 5px;
  width: 120px;
  height: 38px;
  border-radius: 30px;
}

.btn-outline-friendzy {
  // blue
  border-color: #FF9B00;
  background: white;
  color: $friendzy;
  width: 85px;
  height: 40px;
  border-radius: 8px;
}


.btn-padding-show {
  padding-top: 0.75rem;
}

.btn-padding-update {
  padding-top: 0.4rem;
}

.btn-padding-interest {
  padding-top: 0.9rem;
}

.btn-rounding {
  border-radius: 3px;
}

.btn-rounding-pill {
  border-radius: 15px;
}
