// PLACES INDEX PAGE
.container-places {
  align-items: center;
  flex-grow: 0;
  display: grid;
  grid-gap: 16px;
  background: $friendzy;
  padding-top: 20px;

}

.card-event {
  width: 305px;
  height: 170px;
  margin: 0 auto;
 // box-shadow: 0 0 15px rgba(0,0,0,0.2);
 box-shadow: 0px 0px 5px 0px;
 box-shadow:#3498db;
  // overflow: hidden;
  background: linear-gradient(180deg, rgba(11,185,187,0) 0%, #FFFFFF 0.01%, #0BB9BB 100%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  img {
    height: 135px;
    width: 165px;
    object-fit: cover;
    padding-left: 5px;
  }
}

.card-event .card-event-infos {
  padding: 10px 15px;

}

// .card-event-infos {
//   padding: 0 10px;
// }

.card-event-header {
  font-weight: bolder;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #45718b;
  margin-top: 10px;

}
.card-event-header h6 {
  font-size: 13px;
  margin-bottom: 3px;
}

.card-event-details {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
}


//  SHOW PLACES PAGE
.card-show-places-container {
  align-items: center;
  flex-grow: 0;
  display: flex;
  background: $brand-color;
  padding-top: 20px;
  margin-top: 80px;
}

.card-show-places {
  /*change this bg color to $friendzy*/
  overflow: hidden;
  background: $brand-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show-places > img {
  display: block;
  margin: 20px auto auto auto;
  // padding-top: 20px;
  height: 200px;
  width: 80%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show-places h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #43738B;
  text-shadow: 1px 1px rgb(198,198,198);
}

.card-show-places p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-show-places .card-show-places-infos {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



/* MEDIA QUERIES */
// Actually not using this as demo is for mobiles.
@media (min-width: 1281px) {
.container-places {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
.container-places {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.container-places {
  grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.container-places {
  grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-places {
    grid-template-columns: 1fr;
  }

}

// firends card

.card-friend {
  margin: 12px;
  background: $friendzy;
  box-shadow: 0px 0px 5px 0px;
  box-shadow:#3498db;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;

  a {
    color: black;
  }
  p {
    margin: 0;
  }

}

.img-circle {
  border-radius: 50%;
}


.card-friend-button {

  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: -1px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

}






