// PLACES INDEX PAGE
.container-places {
  width: 100vw;
  align-items: center;
  flex-grow: 0fr;
  display: grid;
  grid-gap: 16px;
  background: $friendzy;
  padding-top: 20px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.card-event {
  width: 150px;
  height: 150px;
  // margin: 0 auto;
  margin: 10px;
 // box-shadow: 0 0 15px rgba(0,0,0,0.2);
 // box-shadow: 0px 0px 5px 0px;
 // box-shadow:#3498db;
  // overflow: hidden;
  // background: $friendzy;
  border-radius: 4px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  // img {
  //   width: 95px;
  //    height: 45px;
  //   object-fit: cover;
  //   padding-left: 5px;
  //    padding-bottom: 20px;
  //  }
}
s
.card-event .card-event-infos {
  padding: 10px 15px;

}

// .card-event-infos {
//   padding: 0 10px;
// }

.card-event-header {
  font-weight: bolder;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #45718b;
  margin-top: 10px;

}
.card-event-header p {
  font-size: 13px;
  margin-bottom: 3px;
}

.card-event-details {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
}

.card-home {
  background-size: cover;
  background-position: center;
  width: 305px;
  height: 320px;
  text-align: center;
  display: flex;
  flex: grid;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  background: white;
  margin: 0 auto;
  grid-gap: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-home p {
  text-align: center;
}

.footer-text {
  display: flex;
  vertical-align: center;
}

.container-home {
  align-items: center;
  flex-grow: 0;
  display: grid;
  grid-gap: 16px;
  padding-top: 20px;
  text-align: center;
}

 SHOW PLACES PAGE
.card-show-places-container {
  align-items: center;
  flex-grow: 0;
  display: flex;
  background: $brand-color;
  padding-top: 20px;
  margin-top: 80px;
}

.card-show-places {
  /*change this bg color to $friendzy*/
  overflow: hidden;
  background: $brand-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show-places > img {
  display: block;
  margin: 20px auto auto auto;
  // padding-top: 20px;
  height: 200px;
  width: 80%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show-places h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #43738B;
  text-shadow: 1px 1px rgb(198,198,198);
}

.card-show-places p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-show-places .card-show-places-infos {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


//  cards for place
.card-place{
  height: 400px;
  // background: #d3d3d3;
  background: #f4f4f4;
  z-index: 0;

}
.card-place-infos {
  padding-top: 30px;
  background: white;
  margin: 30px 22px 0 3px;
  height: 350px;
  width: 80%;
  text-align: center;
  border-radius: 5%;
}

.card-button-pos {
  margin-top: 145px;
}
















/* MEDIA QUERIES */
// Actually not using this as demo is for mobiles.
@media (min-width: 1281px) {
.container-places {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
.container-places {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.container-places {

  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.container-places {
  grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-full-width {
    display: flex;
    width: 100%;
    flex-grow: 1fr;
    // for search bar in places
  }
  .container-places {
    grid-template-columns: 1fr;
  }
}

// friends card

.card-friend {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  a {
    color: black;
  }
  p {
    margin: 0;
  }

}

.img-circle {
  border-radius: 50%;
}


.card-friend-button {
  margin: 0 auto;
  background-color: #13aabf;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-width: 150px;
  a {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

.card-friend-avatar {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.form-control {
  width: 70%;
  margin: 0 auto;
}
