
.devise-body {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url( asset-path('background-image-friendzy2.jpg') ) no-repeat;
  background-size: cover;
  height: 100vh;
  top:0;
  padding-top: 15vh;
}

.center-form {
  max-width: 375px;
  margin: -70px auto;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.center-form-parent {
  margin-top: 15vh;
}

.search-form {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.search-form #query {
  margin: 0 5px;
  width: 100%;
  margin-left: 20px;
  padding-left: 20px;
}

.search-form-flexgrow {
  flex-grow: 1fr;
}

.interests-styling {
  // height:480px;
  overflow-y: scroll;
}

.all-interests {
  height: 400px;
}

.user-interests {
  height: 100px;
}
