.navbar-lewagon {
  justify-content: space-between;
  background: $friendzy;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.nav-item {
  list-style-type: none;
}

body {
  padding-top: 37px;
  padding-bottom: 60px;
}
