<div class="card-show-places-container">
  <div class="card-show-places">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">

    <div class="card-show-places-infos">
      <div>
        <h2><%= @place.name %></h2>
        <p><%= @place.address %></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas magni nemo placeat quis provident libero rem similique adipisci necessitatibus consequuntur!
        </p>
        <p>Category: <%= @place.category %></p>
      </div>
    </div>
  </div>   <!--card-show-places  end -->









</div>   <!-- card-show-places-container  end-->
